# Normalizar finales de línea
* text=auto

# Archivos específicos
*.html text
*.css text
*.js text

# Tratamiento de archivos binarios
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
